*{
    margin : 0;
    border : border-box;
    font-family: Arial;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color: white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav-logo{
    height:50px;
    width: 100px;
}
.logo{
    height: 50px;
    background-image: url(amazon_logo.png);
    width:100%;
    background-size: cover;
}
.border{
    border: 2px solid transparent;

}
.border:hover{
    border: 2px solid white;
}

/** Box-2 **/
.add-first{
    color:#CCCCCC;
    height:14ppx;
    margin-left: 18px;;

}

.add-sec{
    height:16px;

}
.add-icon{
    display: flex;
    align-items: center;
}

/** Box-3 **/
.nav-select{
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    width:620px;
    height:40px;
    background-color: violet;
}
.search-select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    width:50px;
    border:none;
}
.search-input{
    border:none;
    font-size:1rem;
    width:100%;
    

}
.search-icon{
    width:45px;
    align-items: center;
    display:flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}
.nav-select:hover{
    border: 2px solid orange;
}

/** Box-4 **/
.span{
    font-size: 0.7rem;
}
.signin-sec{
    font-size: 0.85rem;
    font-weight: 700;

}

/** Box-5 **/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
  font-size: 0.85rem; 
  font-weight: 700; 
}

/** Panels **/
.panel{
    height:40px;
    background-color: #222f3b;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display:inline;
    margin-left: 15px;
}
.panel-ops{
    width:70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight:700;
}

/**hero-section**/
.hero-section{
    height:300px;
    background-size: cover;
    display:flex;
    justify-content: center;
    position: relative;
}
.image-item{
    min-width:100%;
    transform: translateX(-300%);
}
.image-item img{
    height:100%;
    width:100%;
}
.image-list{
    display: flex;
}
.hero-btn{
    top:0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width:100%;
}
.slider-btn{
    padding :70px 10px;
    font-size: 50px;
    font-weight: 300px;
    background-color: transparent;
    border:transparent

}
.slider-btn:hover{
    color:white;
    
}
.hero-mesg{
    background-color:white;
    height:40px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:80%;
    margin-bottom: 25px;
    

}
.hero-mesg a{
    color: #007185;
}

/** shop-section **/
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}
.box{
    /* border: 2px solid black; */
    height:400px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}
.box-img{
    height:300px;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color:#007185;
}
.box-content p:hover{
    color: orange;
    text-decoration: underline;
}

/* footer */
.footer{
    margin-top: 15px;
    
    
}
.foot-panel1{
    background-color: #37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3b;
    color: white;
    height:300px;
    display:flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display:block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
ul a:hover{
    color: white;
    text-decoration: underline;
}
.foot-panel3{
    background-color: #222f3b;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 50px;
    background-image: url(amazon_logo.png);
    width:100px;
    background-size: cover;

}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;

}
.copyright{
    
    padding-top: 5px;

}
